<div class="popup-overlay popup-overlay_open1"></div>
<div class="popup-form unsuccessfully-form popup-form_open1">
    <button type="button" class="popup-form__close-btn unsuccessfully-form__close-btn">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.82855" width="32" height="4" rx="2" transform="rotate(45 2.82855 0)" fill="#828282"/>
            <rect x="-6.10352e-05" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 -6.10352e-05 22.6289)" fill="#828282"/>
        </svg>                                                         
    </button>
    <div class="unsuccessfully-form__form">The form was sent but the server transmits an error: “The form was sent but the server transmits an error”</div>    
</div>