<form name = "filter" class="blogs-control-panel @@parent-class filter-form_js">
    <div class="blogs-control-panel__row blogs-control-panel__row-1">
        <div class="blogs-control-panel__column blogs-control-panel__column-tags">
            <h5 class="blogs-control-panel__column-title">Tags</h5>
            <div class="blogs-control-panel__column-wrapper blogs-control-panel__column-tags-wrapper blogs-control-panel__column-tags-wrapper_js">
                
                    <!-- <input type="checkbox" name="tags" id="tag-1" value="1">
                    <label for="tag-1" class="checkbox-label-tag">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1.25" y="1.25" width="22.5" height="22.5" rx="3.75" stroke="#57E2E5" stroke-width="2.5"/>
                            <path d="M7 11.75L10.913 17.77C11.2013 18.2135 11.8584 18.1893 12.1133 17.7259L18.425 6.25" stroke="#57E2E5" stroke-opacity="0" stroke-width="2.5" stroke-linecap="round"/>
                        </svg>
                    </label>

                    <input type="checkbox" name="tags" id="tag-2" value="2">
                    <label for="tag-2" class="checkbox-label-tag">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1.25" y="1.25" width="22.5" height="22.5" rx="3.75" stroke="#57E2E5" stroke-width="2.5"/>
                            <path d="M7 11.75L10.913 17.77C11.2013 18.2135 11.8584 18.1893 12.1133 17.7259L18.425 6.25" stroke="#57E2E5" stroke-opacity="0" stroke-width="2.5" stroke-linecap="round"/>
                        </svg>
                    </label>

                    <input type="checkbox" name="tags" id="tag-3" value="3">
                    <label for="tag-3" class="checkbox-label-tag">
                        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <rect x="1.25" y="1.25" width="22.5" height="22.5" rx="3.75" stroke="#57E2E5" stroke-width="2.5"/>
                            <path d="M7 11.75L10.913 17.77C11.2013 18.2135 11.8584 18.1893 12.1133 17.7259L18.425 6.25" stroke="#57E2E5" stroke-opacity="0" stroke-width="2.5" stroke-linecap="round"/>
                        </svg>
                    </label> -->





                <!-- <input type="checkbox" name="tags" id="tag-1" value="1"> -->
                <!-- <label for="tag-1" class="checkbox-label-tag checkbox-label-tag-1"></label> -->
                <!-- <input type="checkbox" name="tags" id="tag-2" value="2">
                <label for="tag-2" class="checkbox-label-tag checkbox-label-tag-2"></label>
                <input type="checkbox" name="tags" id="tag-3" value="3">
                <label for="tag-3" class="checkbox-label-tag checkbox-label-tag-3"></label>
                <input type="checkbox" name="tags" id="tag-4" value="4">
                <label for="tag-4" class="checkbox-label-tag checkbox-label-tag-4"></label>
                <input type="checkbox" name="tags" id="tag-5" value="5">
                <label for="tag-5" class="checkbox-label-tag checkbox-label-tag-5"></label>
                <input type="checkbox" name="tags" id="tag-6" value="6">
                <label for="tag-6" class="checkbox-label-tag checkbox-label-tag-6"></label>
                <input type="checkbox" name="tags" id="tag-7" value="7">
                <label for="tag-7" class="checkbox-label-tag checkbox-label-tag-7"></label>
                <input type="checkbox" name="tags" id="tag-8" value="8">
                <label for="tag-8" class="checkbox-label-tag checkbox-label-tag-8"></label> -->
            </div>
        </div>
        <div class="blogs-control-panel__column blogs-control-panel__column-views">
            <h5 class="blogs-control-panel__column-title">Views</h5>
            <input type="radio" name="views" id="views_0" value="100-500">
            <label for="views_0" class="radio-label blogs-control-panel__column-views-label">100-500</label>
            <input type="radio" name="views" id="views_1" value="500-1000" checked>
            <label for="views_1" class="radio-label blogs-control-panel__column-views-label">500-1000</label>
            <input type="radio" name="views" id="views_2" value="1000-2000">
            <label for="views_2" class="radio-label blogs-control-panel__column-views-label">1000-2000</label>
        </div>
        <div class="blogs-control-panel__column blogs-control-panel__column-comments">
            <h5 class="blogs-control-panel__column-title">Comments</h5>
            <input type="checkbox" name="comments" id="comments-0" value="0-0" checked>
            <label for="comments-0" class="checkbox-label blogs-control-panel__column-comments-label">0</label>
            <input type="checkbox" name="comments" id="comments-1" value="0-1">
            <label for="comments-1" class="checkbox-label blogs-control-panel__column-comments-label">0-1</label>
            <input type="checkbox" name="comments" id="comments-2" value="1-50">
            <label for="comments-2" class="checkbox-label blogs-control-panel__column-comments-label">1-50</label>
        </div>
        <div class="blogs-control-panel__column blogs-control-panel__column-howshow">
            <h5 class="blogs-control-panel__column-title">How show?</h5>
            <input type="radio" name="howShow" id="show-0" value="5" checked>
            <label for="show-0" class="radio-label blogs-control-panel__column-howshow-label">show 5</label>
            <input type="radio" name="howShow" id="show-1" value="10">
            <label for="show-1" class="radio-label blogs-control-panel__column-howshow-label">show 10</label>
        </div>
        <div class="blogs-control-panel__column blogs-control-panel__column-sortby">
            <h5 class="blogs-control-panel__column-title">Sort by</h5>
            <input type="radio" name="sortBy" id="sortby-0" value="date" checked>
            <label for="sortby-0" class="radio-label blogs-control-panel__column-sortby-label">date</label>
            <input type="radio" name="sortBy" id="sortby-1" value="title">
            <label for="sortby-1" class="radio-label blogs-control-panel__column-sortby-label">title</label>
            <input type="radio" name="sortBy" id="sortby-2" value="views">
            <label for="sortby-2" class="radio-label blogs-control-panel__column-sortby-label">views</label>
        </div>
        <div class="blogs-control-panel__column blogs-control-panel__column-resetform">
            <h5 class="blogs-control-panel__column-title blogs-control-panel__column-title-resetform">reset form</h5>
            <button type="button" class="button button-colorsheme-white blogs-control-panel__reset-btn_js">Reset</button>
        </div>
    </div>
    <div class="container blogs-control-panel__row blogs-control-panel__row-2">
        <label class="text-input-label" for="search-text-input">Name</label>
        <input type="text" name="name" class="text-input-field-common" id="search-text-input">
        <button type="submit" class="button button-colorsheme-white">Search</button>
    </div>
</form>

