<div class="pagination-panel container">
    <button type="button" class="pagination-panel__button myblog-button_back_js">
        <svg class="pagination-panel__button-arrow" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">            
            <circle class="pagination-panel__button-arrow-elem" cx="21" cy="21" r="19.75" fill="none" stroke="#070707" stroke-width="2.5"/>
            <polyline class="pagination-panel__button-arrow-elem" points="24.5742 30.5742, 15 21, 24.5742 11.4258" stroke="#070707" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
    </button>
    <div class="pagination-panel__pagination pagination_js">
        <!-- <a href="?page=1" class="pagination-panel__pagination-link pagination-link_js">1</a>
        <a href="?page=2" class="pagination-panel__pagination-link pagination-link_js">2</a>
        <a href="?page=3" class="pagination-panel__pagination-link pagination-link_js">3</a>
        <a href="?page=4" class="pagination-panel__pagination-link pagination-link_js">4</a>
        <a href="?page=5" class="pagination-panel__pagination-link pagination-link_js">5</a>
        <a href="?page=6" class="pagination-panel__pagination-link pagination-link_js">6</a>
        <a href="?page=7" class="pagination-panel__pagination-link pagination-link_js">7</a>
        <a href="?page=8" class="pagination-panel__pagination-link pagination-link_js">8</a> -->
    </div>
    <button type="button" class="pagination-panel__button myblog-button_next_js">
        <svg class="pagination-panel__button-arrow" width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">            
            <circle class="pagination-panel__button-arrow-elem" cx="21" cy="21" r="19.75" fill="none" stroke="#070707" stroke-width="2.5"/>
            <polyline class="pagination-panel__button-arrow-elem" points="17.4258 30.5742, 27 21, 17.4258 11.4258" stroke="#070707" stroke-width="3" fill="none" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>   
    </button>
</div>