<header class="header container popup-menu_js">
    <div class="header__popup-menu-close-btn header__popup-menu-close-btn_js">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3.37256" width="32" height="4" rx="2" transform="rotate(45 3.37256 0)" fill="#070707"/>
            <rect x="0.543945" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 0.543945 22.6289)" fill="#070707"/>
        </svg> 
    </div>
    <nav class="header__nav">
        <ul class="header__menu">
            <li class="header__menu-item header__menu-item_current1 menu__home-btn_js"><a href="/">Home</a></li>
        </ul>
        <ul class="header__menu">            
            <li class="header__menu-item menu__my-blog-btn_js"><a href="/pages/blog/index.html">My Blog</a></li>
            <li class="header__menu-item menu__sign-in-btn_js"><a href="#">Sign in</a></li>
            <li class="header__menu-item menu__register-btn_js"><a href="#">Register</a></li>
            <li class="header__menu-item header__menu-item_hidden menu__my-profile-btn_js"><a href="/pages/profile/index.html">My Profile</a></li>
        </ul>
    </nav>
    <!-- <div class="header__popup-menu-overlay"></div> -->
</header>
