.footer {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        margin-bottom: 20px;
        
    }
    &__description {
        margin-bottom: 30px;
        max-width: 270px;
        text-align: center;
    }
    &__send-message-btn {
        // background: #070707;
        // color: white;
        margin-bottom: 40px;
        // &:hover {
        //     background: white;
        //     color: #070707;
        // }
    }
    &__social {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        &-link {
            display: block;
            margin: 8px;
        }
        width: 400px;
        margin-bottom: 40px;
    }

    &__credits, &__credits a {
        color: #828282;
        font-size: 14px;
        line-height: 16px;
    }
    &__credits a {
        border-bottom: 1px dashed
    }
}

@media screen and (max-width: 767px) {
    .footer {
        padding: 40px 0;
        &__title {
            margin-bottom: 10px;        
        }
        &__description {
            margin-bottom: 40px;
        }
        &__social {
            max-width: 300px
        }
    }

}