<footer class="footer">
    <h2 class="footer__title">Contacts</h2>
    <p class="footer__description">Want to know more or just chat? You are welcome!</p>
    <button type="button" class="button button-colorsheme-black footer__send-message-btn">Send message</button>
    <ul class="footer__social">
        <li class="footer__social-item"><a class="button button-colorsheme-white footer__social-link" href="#">Instagram</a></li>
        <li class="footer__social-item"><a class="button button-colorsheme-white footer__social-link" href="#">Vk</a></li>
        <li class="footer__social-item"><a class="button button-colorsheme-white footer__social-link" href="#">Telegram</a></li>
        <li class="footer__social-item"><a class="button button-colorsheme-white footer__social-link" href="#">Mail</a></li>
        <li class="footer__social-item"><a class="button button-colorsheme-white footer__social-link" href="#">GitHub</a></li>
        <li class="footer__social-item"><a class="button button-colorsheme-white footer__social-link" href="#">Phone</a></li>
    </ul>
    <p class="footer__credits">Design by <a href="#">DL Academy</a></p>
    <p class="footer__credits">Program code from Antonina</p>
    
</footer>
