<div class="popup-overlay popup-overlay_open1"></div>
<div class="popup-form sign-in-form popup-form_open1">
    <button type="button" class="popup-form__close-btn sign-in-form__close-btn">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.82855" width="32" height="4" rx="2" transform="rotate(45 2.82855 0)" fill="#828282"/>
            <rect x="-6.10352e-05" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 -6.10352e-05 22.6289)" fill="#828282"/>
        </svg>                                                         
    </button>
    <form action="#" method="POST" class="sign-in-form__form">
        <div class="popup-form__fieldset sign-in-form__fieldset">                    
            <label class="popup-form__label" for="sign-in-form__email">Email <span class="required-field-common">*</span></label>
            <input class="text-input-field-common popup-form__input-field" type="email" id="sign-in-form__email">
        </div>
        <div class="popup-form__fieldset sign-in-form__fieldset">                    
            <label class="popup-form__label" for="sign-in-form__password">Password  <span class="required-field-common">*</span></label>
            <input class="text-input-field-common popup-form__input-field" type="password" id="sign-in-form__password">
        </div>
        <button type="button" class="button button-colorsheme-white sign-in-form__log-in-btn">Log in</button>
    </form>
</div>