
$transition: .1s;

.pagination-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__button {
        background-color: #fff;
        border: none;
        padding: 0;
        transition: $transition;
        svg {
            display: block;
        }       
        &-arrow, &-arrow-elm {
            transition: $transition;
        }
    }
    &__button:not(:disabled) {
        cursor: pointer;
    }
    &__button:not(:disabled):hover, &__button:not(:disabled):active {
        cursor: pointer;
    }
    &__button:not(:disabled):hover &__button-arrow-elem, &__button:not(:disabled):active &__button-arrow-elem {
        stroke: #828282;
        cursor: pointer;
    }
    &__button:disabled &__button-arrow-elem {
        stroke: #E5E5E5;
    }
    &__button:disabled, &__button:disabled &__button-arrow-elem {
        cursor: default;
    }

    &__dot {
		width: 10px;
		height: 10px;
		border: none;
		padding: 0;
		border-radius: 50%;
		outline: none;
		cursor: pointer;
		transition: background-color 0.2s;
		background-color: #E5E5E5;
	}
	&__dot:not(:last-child) {
		margin-right: 5px;
	}
	&__dot_active {
		background-color: #070707;
	}
	&__dot:not(&__dot_active):hover, &__dot:not(&__dot_active):focus {
		background-color: #DADADA;
	}
    &__pagination {
        &-link {
            font-weight: 700;
            color: #E5E5E5;
            &:hover, &:visited:hover {
                color:#828282;
            }
            &:visited {
                color: #E5E5E5;
            }

        }
        &-link:not(:last-child) {
            margin-right: 5px;
        }
        .pagination-link_active {
            color:#070707;
        }
    }

}