.blog-item {
    padding: 20px 0;
    display: flex;
    &__img {
        background-color: #E5E5E5;

    }
    &__tags {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10px;
        &-item {
            width: 30px;
            height: 10px;
            margin-right: 5px;
            border-radius: 5px;
            &-1 {background-color: #2176FF;}
            &-2 {background-color: #33A1FD;}
            &-3 {background-color: #FDCA40;}
            &-4 {background-color: #57E2E5;}
            &-5 {background-color: #F79824;}
            &-6 {background-color: #E08DAC;}
            &-7 {background-color: #6A7FDB;}
            &-8 {background-color: #45CB85;}
            &-hidden {
                display: none;
            }
            &-shown {
                display: block;
            }
        }
    }
    &__dates {
        display: flex;
        margin-bottom: 15px;
        &-item:not(:last-child) {
            margin-right: 10px;
        }
        &-item {            
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            color: #828282;
        }
    }
    &__title {
        margin-bottom: 10px;
    }
    &__description {
        font-weight: 500;
        margin-bottom: 20px;
    }
    &__link a {
        border-bottom: 1px dashed #070707;
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
    }
}


@media screen and (min-width: 1200px) {
	.blog-item {
		&__img {
			&_tablet {
				display:none;
			}
			&_mobile {
				display:none;
			}
            &-wrapper {
                margin-right: 20px;
            }
		}
        &__text {
            padding: 20px 20px 20px 0;
        }
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.blog-item {
		&__img {
			&_desctop {
				display:none;
			}
			&_mobile {
				display:none;
			}
            &-wrapper {
                margin-right: 20px;
            }
		}
        &__text {
            padding: 20px 20px 20px 0;
        }
	}

}

@media screen and (max-width: 767px) {
	.blog-item {
        flex-direction: column;
		&__img {
			&_desctop {
				display:none;
			}
			&_tablet {
				display:none;
			}
        &-wrapper {
            margin-bottom: 20px;
        }
		}
	}
}