.edit-password-form {
    width: 370px;
    min-height: 407px;
    &__change-password-btn {
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px) {
    .edit-password-form {
        width: 100%;
        height: 568px;
        &__form {
            padding-top: 120px;
        }
        &__close-btn {
			top: 75px;
		}
    }
}