<div class="popup-overlay edit-password-overlay_js"></div>
<div class="popup-form edit-password-form edit-password-form_js">
    <button type="button" class="popup-form__close-btn edit-password-form__close-btn edit-password-form__close-btn_js">
        <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="2.82855" width="32" height="4" rx="2" transform="rotate(45 2.82855 0)" fill="#828282"/>
            <rect x="-6.10352e-05" y="22.6289" width="32" height="4" rx="2" transform="rotate(-45 -6.10352e-05 22.6289)" fill="#828282"/>
        </svg>                                                         
    </button>
    <form action="#" method="POST" class="edit-password-form__form" name = "editPassword">
        <div class="popup-form__fieldset edit-password-form__fieldset">                    
            <label class="popup-form__label" for="edit-password-form__password-old">Old password  <span class="required-field-common">*</span></label>
            <input class="text-input-field-common popup-form__input-field" type="password" id="edit-password-form__password-old" name = "oldPassword">
            <div class="text-input-error hidden">Password is to short (at least 6 symbols required)</div>
            <div class="text-input-checked hidden">All right</div>
        </div>
        <div class="popup-form__fieldset edit-password-form__fieldset">                    
            <label class="popup-form__label" for="edit-password-form__password-new">New password  <span class="required-field-common">*</span></label>
            <input class="text-input-field-common popup-form__input-field" type="password" id="edit-password-form__password-new" name = "newPassword">
            <div class="text-input-error hidden">Password is to short (at least 6 symbols required)</div>
            <div class="text-input-checked hidden">All right</div>
        </div>
        <div class="popup-form__fieldset edit-password-form__fieldset">                    
            <label class="popup-form__label" for="edit-password-form__password-new-repeat">Repeat new password  <span class="required-field-common">*</span></label>
            <input class="text-input-field-common popup-form__input-field" type="password" id="edit-password-form__password-new-repeat" name = "newPasswordRepeat">
            <div class="text-input-error hidden">Password is to short or does not match.</div>
            <div class="text-input-checked hidden">All right</div>
        </div>
        <button type="submit" class="button button-colorsheme-white edit-password-form__change-password-btn" name = "submitButton">Change password</button>
    </form>
</div>